body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* container فقط لتموضع العناصر */
.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* الصورة  */
.background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  z-index: 0;
}

/*Welcome Card*/
.welcome-card {
  position: absolute;
  top: 60%;
  left: 6%;
  transform: translateY(-50%);
  z-index: 2;
  width: 450px;
  height: 400px;
  padding: 42px 38px;
  background: linear-gradient(
    145deg,
    rgba(10, 26, 47, 0.55),
    rgba(10, 26, 47, 0.15)
  );
  backdrop-filter: blur(6px);
  border-radius: 22px;
  .welcome-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.system-title {
  font-size: 40px;
  font-weight: 700;
  color: #dff6ff;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

/* الوصف */
.system-subtitle {
  font-size: 20px;
  color: #a9d6ff;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* الزر */
.start-btn {
  width: 100%;
  margin-top: 40px;
  padding: 22px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #0a1a2f;
  background: linear-gradient(135deg, #1f6aff, #00e5ff);
  cursor: pointer;
}

/* النص السفلي */
.footer-text {
  margin-top: 30px;
  font-size: 15px;
  color: #beeaff5b;
  opacity: 0.85;
}
